<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Travel Website </h1>
<p>I'm on a boat!</p>
<style>
h1 {color: red;}
</style>

<%= yield %>

</body>
</html>
